body {
	color: #AE7C78;
}

a {
	color: #AE7C78;
	text-decoration: none;
}

h1 {
	font-size: 44px;
	font-family: 'Playfair Display', serif;                           
	line-height: 59px;
}

.header_italic {
	font-style: italic;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 29px;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #AE7C78;
	border: none;
	border-radius: 40px;
	padding: 20px;
	width: 285px;
	height: 80px;
}

.benefits_delivery {
	background-image: url(img/delivery.svg);
	background-repeat: no-repeat;
}

.benefits_bouquet {
	background-image: url(img/bouquet.svg);
	background-repeat: no-repeat;
}

.benefits_photo {
	background-image: url(img/photo.svg);
	background-repeat: no-repeat;
}

dt {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

dd {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
}

h2 {
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.02em;
}

h3 {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.catalog > p:not(:last-child) {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;	
}

.catalog > p:last-child {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.main-catalog p {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
}

.discount {
	color: #FFFFFF;
	background-color: #AE7C78;
}

.order {
	background: #AE7C78 url("img/zakaz.svg") no-repeat;
}

.delivery_2 {
	background: #AE7C78 url("img/delivery.svg") no-repeat;
}

.payment { 
	background: #AE7C78 url("img/payment.svg");
}

.details {
	background: #AE7C78 url("img/details.svg")
}

footer {
	background-color: #AE7C78;
}

footer a {
	color: #FFFFFF;
}
